Repository ngruson/AdventureWorks: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-AW.Domain.yml

azure-pipelines-1.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: VSBuild@1
    inputs:
      solution: $(solution)
  ...

azure-pipelines-AW.Domain.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: VSBuild@1
    inputs:
      solution: $(solution)
  ...

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Downgraded to System.ComponentModel.Annotations 4.7.0 to resolve conflict with EntityFrameworkCore 3.1.7.
  src/Domain/AW.Domain/AW.Domain.csproj
Due: azure-pipelines-AW.Domain.yml

Removed dependency to System.ComponentModel.Annotations
  src/Domain/AW.Domain/AW.Domain.csproj
Due: azure-pipelines-AW.Domain.yml

Deleted
  src/Persistence/nuget.config
Due: azure-pipelines-1.yml

Added project reference to AW.Domain
  ARM templates/azuredeploy-copy.json
  src/Persistence/AW.Persistence.EntityFramework/AW.Persistence.EntityFramework.csproj
  src/Persistence/AW.Persistence.EntityFrameworkCore/AW.Persistence.EntityFrameworkCore.csproj
Due: azure-pipelines-1.yml

Removed AW.Domain from packages.config
  src/Persistence/AW.Persistence.EntityFramework/packages.config
Due: azure-pipelines-1.yml

Added test builders
  src/Application/AW.Application.UnitTests/TestBuilders/SalesOrderBuilder.cs
  src/Application/AW.Application.UnitTests/TestBuilders/SalesOrderHeaderSalesReasonBuilder.cs
  src/Application/AW.Application.UnitTests/TestBuilders/SalesReasonBuilder.cs
  src/Application/AW.Application.UnitTests/TestBuilders/SpecialOfferBuilder.cs
  src/Application/AW.Application.UnitTests/TestBuilders/SpecialOfferProductBuilder.cs
  src/Domain/AW.Domain/Sales/SalesReason.cs
  src/Domain/AW.Domain/Sales/SpecialOffer.cs
  src/Domain/AW.Domain/Sales/SpecialOfferProduct.cs
Due: azure-pipelines-AW.Domain.yml

Set SalesOrder property in CreateOrderLines
  src/Application/AW.Application.UnitTests/TestBuilders/SalesOrderBuilder.cs
Due: none

Sonar fixes
  src/Application/AW.Application.UnitTests/TestBuilders/SalesOrderHeaderSalesReasonBuilder.cs
  src/Application/AW.Application.UnitTests/TestBuilders/SalesReasonBuilder.cs
Due: none

Sonar fixes
  src/Application/AW.Application/SalesOrder/GetSalesOrder/SalesReasonDto.cs
  src/Persistence/AW.Persistence.EntityFramework.UnitTests/EfRepositoryUnitTests.cs
  src/Persistence/AW.Persistence.EntityFramework/AW.Persistence.EntityFramework.csproj
  src/Persistence/AW.Persistence.EntityFramework/EfRepository.cs
  src/Persistence/AW.Persistence.EntityFramework/packages.config
  src/Persistence/Ardalis.Specification.EntityFramework/RepositoryBase.cs
Due: azure-pipelines-1.yml

Sonar fixes
  azure-pipelines.yml
  src/AdventureWorks.sln
  src/Persistence/AW.Persistence.EntityFramework.UnitTests/EfRepositoryUnitTests.cs
  src/Persistence/AW.Persistence.EntityFramework.UnitTests/Specifications/GetPersonsLastNameSpecification.cs
  src/Persistence/Ardalis.Specification.EntityFramework/RepositoryBase.cs
  src/Services/API/AW.Services.API.CustomerAPI/Program.cs
  src/UI/AW.UI.Web.External/Program.cs
  src/UI/AW.UI.Web.Internal.UnitTests/AW.UI.Web.Internal.UnitTests.csproj
  src/UI/AW.UI.Web.Internal.UnitTests/AutoMapper/Mapper.cs
  src/UI/AW.UI.Web.Internal.UnitTests/CustomerViewModelServiceUnitTests.cs
  src/UI/AW.UI.Web.Internal.UnitTests/EnumHelperUnitTests.cs
  src/UI/AW.UI.Web.Internal.UnitTests/TestBuilders/CustomerBuilder.cs
  src/UI/AW.UI.Web.Internal.UnitTests/TestBuilders/SalesTerritoryBuilder.cs
  src/UI/AW.UI.Web.Internal/AW.UI.Web.Internal.csproj
  src/UI/AW.UI.Web.Internal/Program.cs
  src/UI/AW.UI.Web.Internal/Services/CustomerViewModelService.cs
  src/UI/AW.UI.Web.Internal/Startup.cs
  src/UI/AW.UI.Web.Internal/ViewModels/Customer/EditCustomerAddressViewModel.cs
  src/UI/AW.UI.Web.Internal/appsettings.json
Due: azure-pipelines-1.yml

Sonar fixes
  src/Persistence/AW.Persistence.EntityFramework.UnitTests/EfRepositoryUnitTests.cs
  src/Persistence/AW.Persistence.EntityFramework.UnitTests/Specifications/GetPersonsLastNameWithoutSelectorSpecification.cs
  src/Persistence/AW.Persistence.EntityFrameworkCore.UnitTests/EfRepositoryUnitTests.cs
  src/Persistence/AW.Persistence.EntityFrameworkCore.UnitTests/Specifications/GetPersonsLastNameSpecification.cs
  src/Persistence/AW.Persistence.EntityFrameworkCore.UnitTests/Specifications/GetPersonsLastNameWithoutSelectorSpecification.cs
  src/Persistence/AW.Persistence.EntityFrameworkCore/AW.Persistence.EntityFrameworkCore.csproj
  src/Persistence/Ardalis.Specification.EntityFramework/RepositoryBase.cs
  src/Services/WCF/AW.CustomerService.UnitTests/AW.CustomerService.UnitTests.csproj
  src/Services/WCF/AW.CustomerService.UnitTests/AutoMapperUnitTests.cs
  src/Services/WCF/AW.CustomerService/MappingProfile.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomer/ContactInfo.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomer/CountryRegion.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomer/Person.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomer/StateProvince.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomer/UpdateCustomer.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomer/UpdatePerson.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomer/UpdateSalesPerson.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomer/UpdateStore.cs
  src/Services/WCF/AW.CustomerService/Messages/UpdateCustomerContact/EmailAddress.cs
Due: azure-pipelines-1.yml

Added ARM template for APIM
  ARM templates/arm-apim-advworks.json
Due: none

Update arm-apim-advworks.json
  ARM templates/arm-apim-advworks.json
Due: none

Azure Pipelines: Run Coverlet for AW.Infrastructure.Api.WCF.UnitTests
  azure-pipelines.yml
  src/Infrastructure/AW.Infrastructure.Api.WCF.UnitTests/AutoMapperUnitTests.cs
Due: none

Updated build pipeline
  azure-pipelines.yml
Due: none

Added coverlet.msbuild package reference
  src/Infrastructure/AW.Infrastructure.Api.WCF.UnitTests/AW.Infrastructure.Api.WCF.UnitTests.csproj
Due: none

Added AW.Infrastructure.Api.REST.UnitTests to test step in Azure Pipelines
  azure-pipelines.yml
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/CustomerApiUnitTests.cs
Due: none

Fixed Customer API unit tests
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/CustomerApiUnitTests.cs
Due: none

Added coverlet.msbuild package reference
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/AW.Infrastructure.Api.REST.UnitTests.csproj
Due: none

Added test builders
  src/Core/AW.Core.Abstractions/Api/CustomerApi/ListCustomers/SalesPerson.cs
  src/Core/AW.Core.Abstractions/Api/CustomerApi/ListCustomers/StateProvince.cs
  src/Core/AW.Core.Application.UnitTests/TestBuilders/SalesTerritoryBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/CustomerApiUnitTests.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/AddressBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/ContactBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/ContactInfoBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/CountryRegionBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/CustomerAddressBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/CustomerBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/CustomerContactBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/PersonBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/SalesPersonBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/StateProvinceBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/ListCustomers/StoreBuilder.cs
Due: none

Sonar fixes
  src/Core/AW.Core.Application.UnitTests/GetCustomersQueryHandlerUnitTests.cs
  src/Core/AW.Core.Application.UnitTests/TestBuilders/StoreBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/CustomerApiUnitTests.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/DeleteCustomerContact/ContactBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/GetCustomer/ContactInfoBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/GetCustomer/PersonBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/UpdateCustomer/ContactBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/UpdateCustomer/ContactInfoBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/UpdateCustomer/CustomerContactBuilder.cs
  src/Infrastructure/AW.Infrastructure.Api.REST.UnitTests/TestBuilders/CustomerApi/UpdateCustomer/PersonBuilder.cs
  src/UI/AW.UI.Web.Internal.UnitTests/AW.UI.Web.Internal.UnitTests.csproj
Due: none

Disable Docker Compose build in solution properties
  src/AdventureWorks.sln
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: src/Persistence
  azure-pipelines-AW.Domain.yml: any of: src/Domain
